*{
    box-sizing: border-box;
    margin: 0;
}

body{ background-color: #fffbf7;
}

.titulo{
    display: block;
    align-content: center;
    margin-top: 285px;
    margin-bottom: 20px;
}

 h1{
    color: #025157;
    text-align: center;
    font-size: 55px;
    margin-bottom: 25px;
    font-family: "Alegreya", serif;
    font-weight: 900;
}
h4{
    color: #46484c;
    text-align: center;
    font-size: 18px;
}
.boton_try{
    margin-top: 20px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

button{
    color: #fff;
    background-color: #025157;
    align-items: center;
    margin-left: 5px;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 10px, 10px, 1opx, 10px;
    width: 130px;
    font-size: 15px;
}
input{
    height: 45px;
    margin: -9px;
    text-align: left;
    padding-left: 13px;
    border-radius: 5px;
    border: slategrey;
    border-style: solid;
    border-width: thin;
}
p{
    text-align: center;
    font-size: 16px;
    color: darkgray;
}
.parrafo_no_credit{
    margin-bottom: 20px;
}
.img_capterra{
   margin-bottom: 25px;
}
img{
    display: block;
    margin: auto;
}
a img{
    display:block;
    margin: 12px;
}
li{
    display:inline-block;
    text-align: left;
    padding-right: 10px;
}
.header{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0px;
    height: 45px;
    font-family: sans-serif; 
    background-color: #fffbf7;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    vertical-align: middle;
    line-height: 45px;
}
.fijar_nave>*{
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.imagen{
    width: 10%;
}
.navegador{
    width: 67%;
    text-align: center;
    margin-left: 25px;
    margin-right: 7px;
    color: #025157;
    font-weight: 500;
}
.acciones{
    width: 15%;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}
.acciones>*{
    margin-left: 10px;
    margin-right: 10px;
}
.boton {
    color: #fff;
    background-color:#67b54b;
    border: 0ch;
    border-radius: 5px;
    padding: 12px, 12px, 12px, 12px;
    width: 104px;
    height: 50px;
}
.sign{
    color: #67b54b;
    text-decoration: none;
    margin-left: 10px;
}
.video{
    position: static;
    left: 0;
    right: 0;
    top: 1200px;
    bottom: 0;
    margin: auto;
    height: 240px;
}
.art_paral h3{
    color: #025157;
    font-size: 40px;
    margin-bottom: 15px;
    font-family: "Alegreya", serif;
    font-weight: 900;
}
.section_video {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
.art_paral{
    margin-left: 25px;
}
.art_paral > p{
    text-align: justify;
    margin-bottom: 20px;
    font-size: 18px;
    color: #343434;
    font-family: Arial, Helvetica, sans-serif;
}
.art_paral .parrafito {
    margin-bottom: 10px;
    color:#8b8b8bcc;
    font-weight: lighter;
}
.art_paral input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
}   
.art_paral button{
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
}
.video_img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    height: 40px;
    width: 120px;
}

.art_paral{
    display: block;
    position: static;
}
/*.seccion_azul{
    display: flex;
    position: static;
    background-color: teal;
    width: 100%;
    height: 800px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    top: 0;
    bottom: 0;
}  */

/* Clases para orientar con Grid seccion azul*/
.seccion_azul{
    display: grid;
    grid-template:  repeat(2, 1fr) / repeat(2, 1fr);
    background-color: #025157;
    padding: 5% 10%;
    height: 800px;
    grid-template-rows: 50px;
}

/*.bloque_articulos_1{
    display: inline;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    margin-right: 100px;
    margin-bottom: 0;
}
.bloque_articulos_2{
    display: inline;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    margin-top: 30px;
}*/


.art_1_azul{
    background-color: white;
    height: 300px;
   
    border-radius: 5px;
    display:inline-flex;
}
.texto_art>*{
    flex-direction: column;
    text-align: left;
    width: 65%;
    margin-left: 40px;
    margin-top: 20px;
}
.texto_art > h3{
    font-size: 27px;
    font-weight: normal;
}
.texto_art > p{
    font-size: 19px;
    font-weight: normal;
    color: grey;
    margin-bottom: 20px;
}
.texto_art > a{
    color: green;
    text-decoration: none;
}
.texto_art>.logo_rosa{
    height: 50px;
    width: 50px;
}
.art_1_azul > img{
   
    display: inline;
    width: 170px;
    height:240px;
    margin-right: 0;
    border-style: hidden;
}



.art_2_azul{
    background-color: white;
    height: 300px;
    border-radius: 5px;
    display:inline-flex;
}
.texto_art_2>*{
    flex-direction: column;
    text-align: left;
    width: 75%;
    margin-left: 40px;
    margin-top: 20px;
}
.texto_art_2 > h3{
    font-size: 27px;
    font-weight: normal;
}
.texto_art_2 > p{
    font-size: 19px;
    font-weight: normal;
    color: grey;
    margin-bottom: 20px;
}
.texto_art_2 > a{
    color: green;
    text-decoration: none;
}
.texto_art_2>.logo_azul{
    height: 50px;
    width: 50px;
}
.art_2_azul > img{
   
    display: inline;
    width: 170px;
    height:240px;
    margin-right: -16px;
    border-style: hidden;
}

.art_3_azul{
    background-color: white;
    height: 300px;
    margin-left: 30px;
    border-radius: 5px;
    display:inline-flex;
}
.texto_art_3>*{
    flex-direction: column;
    text-align: left;
    width: 75%;
    margin-left: 40px;
    margin-top: 20px;
}
.texto_art_3 > h3{
    font-size: 27px;
    font-weight: normal;
}
.texto_art_3 > p{
    font-size: 19px;
    font-weight: normal;
    color: grey;
    margin-bottom: 20px;
}
.texto_art_3 > a{
    color: green;
    text-decoration: none;
}
.texto_art_3>.logo_nar{
    height: 50px;
    width: 50px;
}
.art_3_azul > img{
   
    display: inline;
    width: 170px;
    height:240px;
    margin-right: -16px;
    border-style: hidden;
}


.art_4_azul{
    background-color: white;
    height: 300px;
    margin-left: 30px;
    border-radius: 5px;
    display:inline-flex;
}
.texto_art_4>*{
    flex-direction: column;
    text-align: left;
    width: 75%;
    margin-left: 40px;
    margin-top: 20px;
}
.texto_art_4 > h3{
    font-size: 27px;
    font-weight: normal;
}
.texto_art_4 > p{
    font-size: 19px;
    font-weight: normal;
    color: grey;
    margin-bottom: 20px;
}
.texto_art_4 > a{
    color: green;
    text-decoration: none;
}
.texto_art_4>.logo_ver{
    height: 50px;
    width: 50px;
}
.art_4_azul > img{
   
    display: inline;
    width: 170px;
    height:240px;
    margin-right: 5px;
    border-style: hidden;
}

/* Seccion verde con articulo lateral*/
.seccion_verde{
    display:inline-flex;
    position: static;
    background-color:#a1d683;
    width: 100%;
    margin-top: 0;
}
.img_clientes{
    width: 400px;
    height: 150px;
}
.art_en_verde{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
}
.lateral_slide{
    display: flex;
}
.img_tipo{
    height: 200px;
    width: 250px;
}

@media (max-width: 424px) {
    .navegador,
    .acciones {
        display: none;
    }

    .titulo {
        margin-top: 100px;
    }
    .titulo> h1{
        font-size: 30px;
    }

    .section_video{
        flex-direction: column;
        max-width: 90%;
    }

    .art_paral > h3{
        font-size: 30px;
    }

    .art_paral > p{
        font-size: 20px;
    }

.seccion_azul{
    grid-template: repeat(4, 1fr) / 1fr;
    max-width: 90%;
}


}

@media (min-width: 426px) and (max-width: 768px) {
    .navegador,
    .acciones {
        display: none;
    }
    .titulo {
        margin-top: 100px;
    }
    .titulo> h1{
        font-size: 45px;
    }

    .section_video{
        flex-direction: column;
        max-width: 90%;
    }

}



