*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{ background-color: #fffbf7;
}
h1{
    color:#8b8b8bcc;
    text-align: center;
}
h4{
    color: #46484c;
    text-align: center;
}
button{
    color: #fff;
    background-color: #025157;
    align-items: center;
    margin-left: 5px;
    height: 50px;
}
form{
    text-align: center;
    align-items: center;
}
input{
    height: 45px;
    margin: -9px;
    align-items: center;
}
p{
    text-align: center;
}
img{
    display: block;
    margin: auto;
}
a img{
    display:block;
    margin: 12px;
}
li{
    display:inline-block;
    text-align: left;
}
.header{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0px;
    height: 45px;
    font-family: sans-serif; 
}
.header > * {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    vertical-align: middle;
    line-height: 45px;
}
.imagen{
    width: 10%;
}
.Navegador{
    width: 65%;
    text-align: center;
    margin-left: 25px;
    margin-right: 10px;
    color: #025157;
    font-weight: 500;
}
.Acciones{
    width: 15%;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}
.Acciones>*{
    margin-left: 10px;
    margin-right: 10px;
}
.Boton{
    color: #fff;
    background-color:#67b54b;
    border: 0ch;
    border-radius: 5px;
    padding: 12px, 12px, 14px, 14px;
}
.Sign{
    color: #67b54b;
}
.video{
    position: static;
    left: 0;
    right: 0;
    top: 1200px;
    bottom: 0;
    margin: auto;
    height: 240px;
}
article h3{
    color: #025157;
    font-size: 40px;
    margin-bottom: 15px;
}
section {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
article{
    margin-left: 25px;
}
article > p{
    text-align: justify;
    margin-bottom: 20px;
    font-size: 18px;
    color: #343434;
    font-family: Arial, Helvetica, sans-serif;
}
.parrafito{
    margin-bottom: 10px;
}
article > input{
    margin-left: 3px;
    border-radius: 5px;
    border-color: silver;
    padding: 15px;
    border-style: solid;
    margin-top: 10px;
}   
article> button{
    border: 0;
    border-radius: 5px;
    padding: 20px;
}
.video_img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    height: 40px;
    width: 120px;
}
.fijar_nave{
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.art_paral{
    display: block;
    position: static;
}
.Seccion_azul{
    display: flexbox;
    position: static;
    background-color: teal;
    width: 100%;
}




































